<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <title><%= shopTitle %></title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">shop</a></li>
          <li><a href="/admin/add-product">product</a></li>
        </ul>
      </nav>
    </header>

    <% if (prod.length > 0) { %>
    <main>
      <% for(let i=0; i < prod.length; i++) { %> <%= prod[i].title %> <% } %>
    </main>
    <% } else { %>
    <h1>no product found</h1>
    <% } %>
  </body>
</html>
